@media (min-width: 320px) and (max-width: 480px) {
    
    .hamburguer{
        display: block;
        cursor: pointer;
        position: fixed;
        z-index: 5;
    }

    .hamburguer.ativa .linha:nth-child(1){
        transform: rotate(45deg);
        position: absolute;
        transition: all ease 1s;
        top: 50%;
    }

    .hamburguer.ativa .linha:nth-child(2){
        opacity: 0;
    }

    .hamburguer.ativa .linha:nth-child(3){
        transform: rotate(-45deg);
        position: absolute;
        transition: all ease 1s;
        top: 50%;
    }

    .nav-list{
        position: fixed;
        left: 0;
        top: 0;
        height: 80vh;
        background: #000000;
        border-radius: 0 1em 1em 0;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 2;
        display: none;
    }

    .nav-list.ativado{
        display: flex;
    }
    
     .nav-list li a{
        font-size: 0.7em;
        padding: 2px;
    }

    .info-sobreMim img{
        width: 200px;
    }

    .info-habilidades .info-detalhe i{
        font-size: 2.1em;
        align-content: center;
    }

    .info-detalhe p{
        font-size: 0.7em;
    }

    .projeto img{
        width: 15em;
        height: 10em;
    }

    .info-rodape h5{
        font-size: 1em;
        text-align: center;
    }

    .cardLinguagens img{
        height: 2em;
    }
}