@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
}

.cabecalho {
    height: 10em;
    background-image: url(../imagens/background.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 0 2rem;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.hamburguer .linha {
    width: 2em;
    height: 0.2em;
    margin: 0.2em;
    background: #ffffff;
}

.nav-list {
    display: flex;
    gap: 10px;
}

.nav-list li a {
    color: #fff;
    font-family: "Open Sans", serif;
    font-size: 1em;
    border: 2px solid #0e0d0d;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 5px #80ea92,
        0 0 10px #55e37e,
        0 0 20px #39cc3c,
        0 0 30px #44cd2f;
}

.nav-list li a:hover {
    box-shadow: 0 0 20px #80ea92,
        0 0 30px #55e37e,
        0 0 40px #39cc3c,
        0 0 50px #44cd2f;
}

.sobre {
    height: 90vh;
    max-height: 56.25rem;
    background-color: #000000;
    padding: 50px 0;
}

.info-sobreMim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 50px;
}

.info-sobreMim img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid #070707;
    box-shadow: 0 0 5px #80ea92,
        0 0 10px #55e37e,
        0 0 20px #39cc3c,
        0 0 30px #44cd2f;
    margin-bottom: 20px;
    z-index: auto;
}

.info-sobreMim h1 {
    font-size: calc(1em + 1vw);
    margin-bottom: 10px;
    font-family: "Open Sans", serif;
}

.info-sobreMim p {
    font-size: calc(0.3em + 1vw);
    height: 2em;
    margin-bottom: 20px;
    font-family: "Open Sans", serif;
}

.info-sobreMim nav ul {
    display: flex;
    gap: 30px;
}

.info-sobreMim nav ul li i {
    font-size: 2em;
    cursor: pointer;
}

.info-sobreMim ul li i:hover {
    transition: all ease-in-out 0.5s;
    transform: scale(1.2, 1.2);
    color: #30f611;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow i {
    font-size: 3rem;
    color: #30f611;
    animation: movimento 1s linear infinite;
}

@keyframes movimento {
    0% {
        transform: translatey(0);
        opacity: 1;
    }

    50% {
        transform: translatey(-20px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.about {
    height: 90vh;
    max-height: 56.25rem;
    background: #000000;
}

.caixa-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

.caixa-sobre h2 {
    font-size: calc(1em + 1vw);
    margin-bottom: 20px;
    font-family: "Open Sans", serif;
}

.caixa-sobre p {
    font-size: calc(0.2em + 1vw);
    max-width: 42em;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Open Sans", serif;
}

.caixa-sobre button {
    margin-top: 1em;
    padding: .5em;
    background: #21960f;
    color: #fff;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    transition: all ease .7s;
}

.caixa-sobre button:hover {
    background: #000000;
    box-shadow: 0 0 5px #80ea92,
        0 0 10px #55e37e,
        0 0 20px #39cc3c,
        0 0 30px #44cd2f;
}

#habilidades {
    height: 50vh;
    max-height: 56.25rem;
    background: #000000;
    min-height: 20rem;
}

.info-habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.info-habilidades h3 {
    font-size: calc(0.9em + 1vw);
    margin-bottom: 20px;
    color: #fff;
    font-family: "Open Sans", serif;
}

.info-habilidades .info-detalhe .separador {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 1.2rem;
}

.info-habilidades .info-detalhe i {
    font-size: 5em;
    color: #39cc3c;
    cursor: pointer;
    transition: all ease-in 0.3s;
}

.info-detalhe p {
    color: #3efb21;
    text-align: center;
    font-family: "Open Sans", serif;
}

.detalhe-habilidade {
    display: grid;
    place-items: center;
    transition: all ease 0.5s;
}

.detalhe-habilidade .niveis {
    margin-top: .5rem;
    color: #80ea92;
}

.info-habilidades .detalhe-habilidade:hover {
    transform: scale(1.2, 1.2);
}

#meus-projetos {
    height: 100vh;
    max-height: 56.25rem;
    background: #000000;
}

.conteudo-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2em;
}

.conteudo-projetos h3 {
    color: #fff;
    font-size: calc(0.9em + 1vw);
    font-family: "Open Sans", serif;
}

.lista-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 100em;
}

/* inicio cards pequenos ref aos projetos  */
.cardProjetos {
    padding: .5em;
    background: #21960f;
    border-radius: .5em;
    height: 17em;
    display: grid;
    place-items: center;
}

.cardProjetos img {
    width: 17em;
    height: 7em;
    border-radius: .5em;
    margin-bottom: .5em;
}

.cardProjetos p {
    color: #fff;
    font-family: "Open Sans", serif;
}

.cardProjetos button {
    border: none;
    background: #ffffff;
    color: #21960f;
    padding: .7em;
    border-radius: .5em;
    margin-top: 1em;
    cursor: pointer;
    transition: all ease .7s;
}

.cardProjetos button:hover {
    background: #000000;
    box-shadow: 0 0 5px #80ea92,
        0 0 10px #55e37e,
        0 0 20px #39cc3c,
        0 0 30px #44cd2f;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

/*  fim dos card pequenos */

.btn-projetos {
    background: #44cd2f;
    color: #fff;
    border: none;
    padding: 0.5em;
    font-size: calc(0.1em + 1vw);
    cursor: pointer;
    border-radius: 1em;
    transition: all ease-in 0.4s;
    font-family: "Open Sans", serif;
}

.btn-projetos:hover {
    background: #000000;
    box-shadow: 0 0 5px #80ea92,
        0 0 10px #55e37e,
        0 0 20px #39cc3c,
        0 0 30px #44cd2f;
}

.rodape {
    display: flex;
    background-image: url(../imagens/background.png);
    justify-content: center;
    align-items: center;
    position: relative;
    height: 13em;
    color: #fff;
}

.info-rodape h5 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-family: "Open Sans", serif;
}

.info-rodape p {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-family: "Open Sans", serif;
}

.conteudoLinguagens {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}

.cardLinguagens {
    display: flex;
    animation: scroll 10s linear infinite;
    filter: brightness(40%);
    transition: all ease 1s;
}

.cardLinguagens:hover {
    filter: brightness(100%);
    transition: all ease 1s;
}

.cardLinguagens img {
    height: 4em;
    margin: 1em;
    border-radius: 1em;
}

@keyframes scroll {
    0% {
        transform: translate(100%);
    }

    100% {
        transform: translate(-100%);
    }
}

.amarela {
    color: #e8ec0a;
}